<% layout('boilerplate') %>

<div class="mt-5 container">
    <h1 class="mb-3">MongoDB Insertion</h1>
    <form  action="/fake" method="POST"">
        <div class="row g-3">
            <div class="col-auto">
                <label for="time">Time:</label>
                <input
                  type="text"
                  class="form-control"
                  name="time"
                  id="time"
                  placeholder="XX:YY"
                />
              </div>
              <div class="col-auto">
                <label for="temperature">Temperature:</label>
                <input
                  type="text"
                  class="form-control"
                  name="temperature"
                  id="temperature"
                  placeholder="YY"
                />
              </div>
        </div>
        
        <div class="mt-3">
          <button type="submit" class="btn btn-dark mb-3">Fake Data</button>
        </div>
      </form>
      
</div>
