<% layout('boilerplate') %>
<div class="container mt-5">
  <div class="d-flex justify-content-center align-items-center">
    <div class="card" style="width: 18rem">
      <img
        src="https://shawee.io/wp-content/uploads/2019/09/Set19-Desafios-Organizador-1.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Data Science</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro,
          repellat quas!
        </p>
        <a class="btn btn-dark" href="/start">View Report</a>
        <a class="btn btn-dark" href="/fake">Fake Data</a>
      </div>
    </div>
  </div>
</div>
